# local package
-e .

# external requirements
setuptools
click
python-dotenv>=0.5.1
dvc
dvc[gdrive]
dvc[gs]
omegaconf
hydra-core
wandb
pytest
torch
torch-scatter -f https://data.pyg.org/whl/torch-1.10.0+cu113.html
torch-sparse -f https://data.pyg.org/whl/torch-1.10.0+cu113.html
torch-geometric


# !! NOTE !! ALSO INSTALL:
# torch_geometric
# Best installation practice depends on platform
# (see cpu_trainer.dockerfile for an example), or torch_geometric docs
